{% extends 'base.html' %}

{% block title %}Сторінка реєстрації нового рахунку{% endblock %}
{% block sidebar %}
<ul class="sidebar-nav">
    <div class="list-group">
        <a href="{% url 'atm:index' %}"
           class="list-group-item list-group-item-action">Повернутись на головну
        </a>
    </div>
</ul>
{% endblock %}
{% block content %}
<ul class="sidebar-nav">
    <form action="{% url 'atm:registration' %}" method='POST'>
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <br>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</ul>
{% endblock %}
